.next-class {
    height: calc(100vh - 60px);

    background-image: url('/assets/images/hero-bg-dark.jpg');
    background-position-y: -60px;
    background-size: cover;
    background-repeat: no-repeat;

    &.light {
        background-image: url('/assets/images/hero-bg.jpg');

        h1, h2 {
            color: #363636 !important;
        }
    }

}

h1, h2 {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    
}

.is-vertical-center {
    padding-top: calc(30% - 60px);

    @media (max-width: 600px) {
        padding-top: 50%; 
    }
}

.has-text-shadow {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.time {
    color: rgb(189, 145, 63);
}
.exercise {
    color: rgb(42, 197, 76);
}
.lecture {
    color: rgb(47, 172, 177);
}
.subject {
    color: rgb(77, 100, 233);
}
.room {
    color: rgb(233, 77, 137);
}