<div class="next-class" [class.light]="isThemeLight()" *ngIf="displayNextClass()">
    <div class="container is-full-height">
        <h1 class="title is-size-1-tablet has-text-centered is-vertical-center has-text-shadow">
            <span class="time">{{nextClass.localizedHour}}:15 </span>
            <span *ngIf="nextClass.group === 0" class="lecture">Лекция </span>
            <span *ngIf="nextClass.group > 0" class="execise">Упр. </span> по 
            <span class="subject">{{nextClass.subject}} </span>
            в зала <span class="room">{{nextClass.room}}</span>
        </h1>
        <h2 class="subtitle is-size-3-tablet has-text-centered has-text-shadow">
            <span class="time">{{afterThat.localizedHour}}:15 </span>
            <span class="lecture" *ngIf="afterThat.group === 0">Лекция </span>
            <span class="exercise" *ngIf="afterThat.group > 0">Упр. </span> по 
            <span class="subject">{{afterThat.subject}} </span>
            в зала <span class="room">{{afterThat.room}}</span>
        </h2>
    </div>
</div>