.container {
    width: 310px;
    margin: 0 auto;
    padding: 20px 60px;

    a.button {
        display: block;
        margin: 10px auto;

        .fa {
            padding-right: 10px;
        }
    }
}