<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                {{title}}
            </h1>
            <h2 class="subtitle">
                {{subtitle}}
            </h2>
        </div>
    </div>
</section>