<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <span class="logo">Peshka</span>
    </a>
    <div class="navbar-burger burger" (click)="toggleNavar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenuExample1" class="navbar-menu {{mobileIsActive ? 'is-active' : ''}}">
    <div class="navbar-start">
      
      <!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Docs
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item " href="#">
            Overview
          </a>
          <a class="navbar-item " href="#">
            Modifiers
          </a>
          <a class="navbar-item " href="#">
            Grid
          </a>
          <a class="navbar-item " href="#">
            Form
          </a>
          <a class="navbar-item " href="#">
            Elements
          </a>
          <a class="navbar-item is-active" href="#">
            Components
          </a>
          <a class="navbar-item " href="#">
            Layout
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>version
              <p class="has-text-info is-size-6-desktop">0.4.3</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="navbar-end">
      <a (click)="clickLink()" class="navbar-item" routerLink="/"><i class="fa fa-home"></i><span class="is-hidden-desktop">Начало</span></a>
      <a (click)="clickLink()" routerLink="/settings" class="navbar-item"><i class="fa fa-cog"></i><span class="is-hidden-desktop">Настройки</span></a>
      <a (click)="clickLink()" class="navbar-item" href="https://github.com/peterlyubenov/peshka-v3" target="_blank">
        <i class="fa fa-github"></i><span class="is-hidden-desktop">Github</span>
      </a>
    </div>
  </div>
</nav>