.navbar-item .fa {
    padding-right: 7px;
}

.navbar-item {
    font-family: "Source Sans Pro", sans-serif;
}

.logo {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.8rem;
    color: #dadada;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
}