<app-hero [title]="'Настройки'"></app-hero>

<div class="container back-button-container" [class.light]="isThemeLight()">
    <a routerLink="/" class="button is-info" style="margin-bottom: 20px">
        <i class="fa fa-chevron-left"></i>
        Назад
    </a>
    <div class="divider"></div>
</div>
    
<div class="container settings" [class.light]="isThemeLight()">
    <div class="setting-label">Показване на следващия предмет на началната страница</div>
    <div class="button-container">
        <a (click)="toggleDisplayNext()" class="button is-success" *ngIf="isDisplayNext()">
            <i class="fa fa-check"></i> Включено
        </a>
        <a (click)="toggleDisplayNext()" class="button is-danger" *ngIf="!isDisplayNext()">
            <i class="fa fa-times"></i> Изключено
        </a>
    </div>

    <div class="setting-label">Група</div>
    <div class="button-container">
        <dropdown 
            (onItemClick)="changeGroup($event)"
            [items]="[
                {text: '1 група', value: 1}, 
                {text: '2 група', value: 2}, 
                {text: '3 група', value: 3}]
            " 
            [default]="getGroup()-1"></dropdown>
    </div>

    <div class="setting-label">Тема</div>
    <div class="button-container">
        <a (click)="toggleTheme()" class="button is-light" *ngIf="isThemeLight()">
            <i class="fa fa-sun-o"></i> Светла
        </a>
        <a (click)="toggleTheme()" class="button is-dark" *ngIf="!isThemeLight()">
            <i class="fa fa-moon-o"></i> Тъмна
        </a>
    </div>
    <div></div>
    <!-- <div class="button-container">
        <a (click)="showSuccessfulSaveNotification()" class="button is-success">
            <i class="fa fa-save"></i> Запазване
        </a>
    </div> -->

</div>
