.back-button-container {
    margin-top: 60px;
}

.divider {
    height: 5px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);

    &.light {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
}
.settings {
    display: grid;
    grid-template-columns: 50% 50%;

    .setting-label {
        color: #dadada;
        text-align: right;
        padding-right: 20px;
        padding-top: 5px;
        margin-top: 20px;
    }

    .button-container {
        margin-top: 20px;
    }

    &.light {
        color: black;

        .setting-label {
            color: black;
        }
    }
}

.button .fa {
    padding-right: 8px;
}
