<div class="toast-container" [class.is-active]="active">
    <div class="notification {{data.color ? data.color : ''}}">
        <button class="delete" (click)="close()"></button>
        <strong>{{data.title || ""}}</strong><br>
        {{data.text}}
    </div>
</div>