.toast-container {
    position: fixed;
    bottom: -300px;
    width: 100vw;
    left: 0;    

    transition: bottom 0.6s;
    transition-timing-function: ease-in-out;
}

.is-active {
    bottom: 10px;

    transition: bottom 0.6s;
    transition-timing-function: ease-in-out;
}

.notification {
    width: 50%;
    margin: 0 auto;

    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    @media (max-width: 900px)  {
        width: 75%;

        @media (max-width: 600px) {
            width: 95%;
        }
    }
}
