<div class="dropdown {{active ? 'is-active' : ''}}">
    <div class="dropdown-trigger">
        <button (click)="toggleDropdown()" class="button {{isThemeLight() ? 'is-light' : ''}}" aria-controls="dropdown-menu" aria-haspopup="true">
            <span>{{activeItem.text}}</span>
            <span class="icon is-small"><i class="fa fa-angle-down"></i></span>
        </button>
    </div>
    <div class="dropdown-menu" role="menu" id="group-menu">
        <div class="dropdown-content {{isThemeLight() ? 'is-light':''}}">
            <span *ngFor="let item of items">
                <a class="dropdown-item" (click)="onClick(item)">{{item.text}}</a>
            </span>
        </div>
    </div>
</div>