.dropdown-content.is-light {
    background-color: rgb(245, 245, 245);
    .dropdown-item {
        color: black;
        &:hover {
            background-color: #dadada;
        }
    }
}

.dropdown-content {
    position: relative;
    z-index: 9999999;
}