html {
    background-color: #131313;
}

html.light {
    background-color: #dadada;

    // & p, & h1, & h2, & h3, & h4, & h5, & h6, & li {
    //     color: black;
    // }
}

a.netlify-identity-button {
    display: inline-block;
    padding: 10px;
    background-color: rgb(44, 132, 219);

    color: white;
    
}