<div class="container" [class.light]="isThemeLight()">
    <div class="filters-button">
        <a (click)="toggleFilters()" class="button is-info is-outlined"><i class="fa" [class.fa-close]="filtersVisible" [class.fa-search]="!filtersVisible"></i></a>
    </div>
    <div class="filters" [class.is-active]="filtersVisible">
        <div class="field">
            <label for="group" class="label">Група</label>
            <dropdown (onItemClick)="setGroup($event)" [items]="[{text: 'Всички', value: 0}, {text: '1 лаб', value: 1}, {text: '2 лаб', value: 2}, {text: '3 лаб', value: 3}]" [default]="group"></dropdown>
        </div>
        <div class="field">
            <label class="label" for="search">Търсене</label>
            <p class="control has-icons-left">
                <input name="search" class="input" type="text" placeholder="Търсене" (keyup)="setSearch(search.value)" (blur)="setSearch(search.value)" #search>
                <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                </span>
            </p>
        </div>
    </div>
    <table class="table is-full-width" [class.light]="isThemeLight()">
        <thead>
            <tr>
                <th>Ден </th>
                <th>Час </th>
                <th>Седм</th>
                <th>Гр </th>
                <th>Зала</th>
                <th>Дисциплина</th>
                <th>Преподавател</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="schedule.length === 0">
                <td colspan="7" style="padding: 10px; font-size: 1.2rem; text-align: center;">
                    Няма намерени резултати
                </td>
            </tr>
            <tr *ngFor="let subject of schedule" [class.highlight]="isClassToday(subject)">
                <td>{{["Нед","Пн","Вт","Ср","Чт","Пт","Сб"][subject.day]}}</td>
                <td>{{subject.hour}}:15</td>
                <td *ngIf="subject.week > 0">{{subject.week}},{{subject.week+2}}</td>
                <td *ngIf="subject.week === 0">вс.</td>
                <td>{{subject.group === 0 ? "Л" : subject.group}}</td>
                <td>{{subject.room}}</td>
                <td>{{subject.subject}}</td>
                <td>{{subject.lecturer}}</td>
            </tr>
        </tbody>
    </table>

</div>