.container {
    background-color: #181824;
    box-shadow: 0 0 5px rgba(0,0, 0, 0.3);

    .filters-button {
        padding: 15px;
    }

    .filters {
        position: relative;
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: height 0.5s;
        transition-timing-function: ease-in-out;
        padding: 0 30px;
        display: grid;
        grid-template-columns: 30% 70%;

        &.is-active {
            height: 220px;
            transition: height 0.5s;
            transition-timing-function: ease-in-out;
        }

        @media (min-width: 600px) {
            grid-template-columns: 20% 80%;

            @media (min-width: 1024px) {
                grid-template-columns: 10% 90%;
            }
        }
        @media (max-width: 400px) {
            grid-template-columns: 100%;
        }

        input {
            background-color: #0e0e14;
            color: #dadada;
            border: none;

            &::placeholder {
                color: #7573cc;
            }
        }

        .control .icon .fa {
            color: #7573cc;
        }
    }

    &.light {
        background-color: #dadada;
        color: #131313;

        label {
            color: #131313;
        }

        .filters {
            input {
                background-color: #eaeaff;
                color: #222222;
                border: none;
    
                &::placeholder {
                    color: #4d4c8a;
                }
            }
    
            .control .icon .fa {
                color: #4d4c8a;
            }
        }
    }
}



table {
    background-color: #232536;
    width: 100%;
    margin-bottom: 60px;

    th {
        background-color: #191a25;
        color: white;
        padding: 15px 10px
    }

    tr, td, thead, th {
        border: 1px solid rgba(0, 0, 0, 0.01);
        vertical-align: middle;
        padding: 16px;
    }


    @media (max-width: 600px) {
        th {
            font-size: 0.6rem;
            padding: 4px;
        }

        td {
            font-size: 0.8rem;
            padding: 2px; 
        }

        @media (max-width: 500px) {
            td {
                font-size: 0.5rem;
                padding: 1px;
            }
        }
    }

    
    .highlight {
        background-color: #30324b
    }

    &.light {
        background-color: #dadada;
        color: black;

        .highlight {
            background-color: #b8bad4
        }
    }
}